"""
One of the most common tasks in NLP is predicting named entities, like people, locations, countries, brands, etc.

Performing NER is ridiculously easy in spaCy. After processing a text, just extract the ents attribute of the doc object:
"""

In [2]:
import spacy
import pandas as pd
#!python -m spacy download en_core_web_lg 
print()

In [14]:
nlp = spacy.load("en_core_web_lg")
sentences_columns = ['sentence_id', 'sentence']
named_ent_columns= ['sentence_id', 'Text', 'Label']

In [19]:
sentences_table = pd.DataFrame(columns = ['sentence_id', 'sentece'])
named_entity_tb = pd.DataFrame(columns = ['sentence_id', 'Text', 'Label'] )

In [6]:
#load book
with open('of_mice_new.txt', 'r', encoding='utf-8') as f:
     txt = f.read()

In [7]:
#conver to doc
doc = nlp(txt)

In [ ]:
#     for token in sent:
#         print(token," : ",token.pos_)

In [20]:
id = 0;
list_senteces = []
for sent in doc.sents:
    list_senteces.append(sent)
    for e in sent.ents:
          new_row  = {named_ent_columns[0] : id, named_ent_columns[1] : e.text,  named_ent_columns[2] : e.label_ }
          named_entity_tb=named_entity_tb.append( new_row, ignore_index=True)   
         
    id+=1

In [21]:
named_entity_tb

     sentence_id                    Text     Label
0              0                    1937      DATE
1              1          John Steinbeck    PERSON
2              2   Compass Books Edition       ORG
3              2                    1963      DATE
4              2  The Viking Press, Inc.       ORG
...          ...                     ...       ...
1419        3739                  George    PERSON
1420        3740                  Curley    PERSON
1421        3740                 Carlson    PERSON
1422        3741                 Carlson    PERSON
1423        3741                     two  CARDINAL

[1424 rows x 3 columns]

In [26]:
labels = named_entity_tb['Label'].unique()

In [35]:
for ent in labels :
    print(ent,":",spacy.explain(ent))

DATE : Absolute or relative dates or periods
PERSON : People, including fictional
ORG : Companies, agencies, institutions, etc.
CARDINAL : Numerals that do not fall under another type
FAC : Buildings, airports, highways, bridges, etc.
GPE : Countries, cities, states
QUANTITY : Measurements, as of weight or distance
LOC : Non-GPE locations, mountain ranges, bodies of water
ORDINAL : "first", "second", etc.
TIME : Times smaller than a day
WORK_OF_ART : Titles of books, songs, etc.
MONEY : Monetary values, including unit
NORP : Nationalities or religious or political groups
PRODUCT : Objects, vehicles, foods, etc. (not services)

In [22]:
txt
doc = nlp(txt)

In [59]:
for e in doc.ents:
    print(e.text,e.label_,end='\n')
    print(spacy.explain(e.label_))

Carlson PERSON
People, including fictional

FILTER BY PERSON

In [54]:
named_entity_tb

     sentence_id                    Text     Label
0              0                    1937      DATE
1              1          John Steinbeck    PERSON
2              2   Compass Books Edition       ORG
3              2                    1963      DATE
4              2  The Viking Press, Inc.       ORG
...          ...                     ...       ...
1419        3739                  George    PERSON
1420        3740                  Curley    PERSON
1421        3740                 Carlson    PERSON
1422        3741                 Carlson    PERSON
1423        3741                     two  CARDINAL

[1424 rows x 3 columns]

In [111]:
persons_entity = named_entity_tb[named_entity_tb['Label']=='PERSON']
persons_entity.values_count()

AttributeError: 'DataFrame' object has no attribute 'values_count'

In [114]:
counts_appeared = persons_entity['Text'].value_counts()

In [115]:
len(counts_appeared)

66

In [117]:
counts_appeared.index

Index(['George', 'Lennie', 'Curley', 'Carlson', 'Slim', 'Whit', 'Candy', 'Jus',
       'Susy', 'Clara', 'Bill', 'Nobodyâ€™d', 'Tha', 'Aunt Clara', 'Le',
       'Murray', 'Guy', 'Purty', 'Buck', 'Awright', 'Gabilan', 'Lennie Small',
       'George Milton', 'Jackson', 'Howard', 'gonâ€™ta', 'Janson', 'Sta',
       'Baloney', 'Wha', 'outa\nWeed', 'Milton', 'John Steinbeck',
       'George wunâ€™t', 'Andy', 'Goodnight', 'Soledad', 'fren', 'George knelt',
       'sâ€™pose George', 'Whitey', 'Andy Cushman', 'awmighty', 'sta',
       'God awmighty', 'Peter Rand', 'jack', 'Georgeâ€”Georgeâ€”George',
       'George coldly', 'jack-pin', 'jack jus', 'liâ€™ble', 'Bust', 'O.K.',
       'Bill Tenner', 'little euchre', 'Carl', 'Sâ€™pose Curley',
       'Noiselessly Lennie', 'Sâ€™pose George', 'Al Wilts', 'Take Curley',
       'Coulda', 'Lulu', 'William Tenner', 'George unslung'],
      dtype='object')

In [118]:
for person in counts_appeared.index:
    persons_entity['Text'] == person

In [110]:
l = list(persons_entity['sentence_id'].value_counts() > 1)
persons_entity[l]

ValueError: Item wrong length 899 instead of 1001.

In [108]:
persons_entity[persons_entity['sentence_id'].value_counts() > 1]

<ipython-input-108-663a51f74a16>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  persons_entity[persons_entity['sentence_id'].value_counts() > 1]

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match).

In [71]:
a = persons_entity.groupby('sentence_id')

In [83]:
persons_entity.groupby(['Text','sentence_id']).count()

                           Label
Text          sentence_id
Al Wilts      3403             1
Andy          1932             1
Andy Cushman  1923             1
Aunt Clara    3489             1
              3498             1
...                          ...
little euchre 1665             1
liâ€™ble        2097             1
outa\nWeed    175              1
sta           951              1
sâ€™pose George 2423             1

[986 rows x 1 columns]

referecnes:
    https://home.aveek.io/blog/post/finding-main-characters/